//- Offer
mixin offer(title, text)
	.offer.info-block.col-3-10
		.circle
		h2.offer--title.info-block--title= title
		p.info-block--desc= text

//- Simple price package
mixin price-simple(name1, name2, texts)
	.swiper-slide.price-package.price-package-simple.btn-pop-up
		h3.price-package--name
			span= name1
			span= name2
		//-p.price-package--term= term
		.price-package--price.price
			//-
				span.price--amount= price
				span.price--currency ₪/мес	
			
		ul.price-package--feature
			each text in texts
				li= text
		
		.btn.btn-blue.btn-sm Смотреть RedMax TV

//- Highlighted price package
mixin price-highlight(name1, name2, price, texts)
	.swiper-slide.price-package.price-package-highlight.btn-pop-up
		//p.price-package--term= term
		h3.price-package--name 
			span= name1
			span.name= name2
		.price-package--price.price
			span.price--amount= price
			span.price--currency ₪/мес
			
		ul.price-package--feature
			each text in texts
				li= text
		.btn.btn-red.btn-lg Смотреть RedMax TV

mixin feedback(text, photo, name, profession, city)
	.swiper-slide.feedback
		p.feedback--text= text
		.feedback--info
			.feedback--photo(style="background-image: url(img/#{photo});")
			.feedback--desc
				.feedback--name= name
				p= profession
				p= city